{%extends "WDS/formbase.html"%}
{%load crispy_forms_tags%}
{%block title %}
WDS || House
{%endblock title%}
{%block header%}
Connect to WDS by Housing Up
{%endblock header%}
{%block form%}

  <form action="" method="post" autocomplete="off">
	{%csrf_token%}
  {{form | crispy}}
	<button type="submit" class="btn btn-primary">Create House</button>
</form>
 
  
<div class="border-top pt-3">
    <small class="text-muted"> Look Up Home Premium<a class="ml-2"href="{%url 'WDS-HomePremium'%}"> LookUp</a></small>
  </div>
{%endblock form%}
 