{%extends "WDS/formbase.html"%}
{%load crispy_forms_tags%}
{%block title %}
WDS || Payment
{%endblock title%}
{%block header%}
Connect to WDS by Paymrnting Up
{%endblock header%}
{%block form%}

  <form action="" method="post" autocomplete="off">
	{%csrf_token%}
  {{form | crispy}}
	
 <button type="submit" class="btn btn-primary">Create Payment</button>
</form>
  
<div class="border-top pt-3">
    <small class="text-muted"> Look Up Invoices<a class="ml-2"href="{%url 'WDS-Invoice'%}"> LookUp Invoices</a></small>
{%endblock form%}
  