{%extends "WDS/formbase.html"%}
{%load crispy_forms_tags%}
{%block title %}
WDS || SignUp
{%endblock title%}
{%block header%}
Connect to WDS by Signing Up
{%endblock header%}
{%block form%}
<form action="" method="post" autocomplete="off">
	{%csrf_token%}
  {{form | crispy}}
	<button type="submit" class="btn btn-primary">Sign in</button>
</form>
  

<div class="border-top pt-3">
    <small class="text-muted"> Already have an account?<a class="ml-2"href="{%url 'WDS-login'%}"> SignIn Here</a></small>
  </div>{%endblock form%}
  